@model skills_hub.core.DTO.UserLoginDTO;

@{
    ViewData["Title"] = "SignIn";
}

<!-- Section: Design Block -->
<section class=" text-center ">
    <link href="~/assets/css/style.css" rel="stylesheet">

    <style>
        .rounded-t-5 {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        .rounded-bl-lg-5 {
            border-bottom-left-radius: 0.5rem;
          }

        .my-background {
            background-color:#F3F3F9 !important;
        }
    </style>
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <div class="text-center" href="index.html"> <h4>Личный кабинет</h4></div>

                                <form class="mt-5 mb-5 login-input" method="post">
                                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                                    <div class="form-group">
                                        <input type="text" asp-for="UserName" class="form-control" placeholder="Логин" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Пароль" required>
                                    </div>
                                    <input type="submit" asp-action="SignIn" asp-controller="Account" class="btn login-form__btn submit w-100" value="Войти" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/assets/plugins/common/common.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/gleek.js"></script>
    <script src="~/assets/js/styleSwitcher.js"></script>
</section>
<!-- Section: Design Block -->
