<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Курсы Английского для детей и взрослых в Минске. Занятия онлайн и очно. Для организаций, экспресс-английский, speaking club (разговорный клуб), языковой лагерь для детей. В центре Минска (метро Якуба Коласа). Индивидуальные занятие. Низкие цены, дешево. Программирование для детей (Scratch, Java, Python) от 6 лет" />
    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkillsHub.styles.css" asp-append-version="true" />
    <link href="https://skillshub.by/" rel="canonical" />
    <meta property="og:title" content="SkillsHub - Курсы английского языка в Минске для детей и взрослых любого уровня." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://skillshub.by/" />
    <meta property="og:description" content="Пройдите тест на уровень языка совершенно бесплатно! Обучаем с нуля или поможем улучшить навыки под ваши нужды." />
    <meta property="og:site_name" content="SkillsHub - курсы английского в центре Минска" />
    <meta property="og:image" content="https://img.freepik.com/free-vector/hand-drawn-english-school-illustration_23-2149517765.jpg?w=996&t=st=1698091774~exp=1698092374~hmac=0bac2c395f5113eedf6bf76b7716805c9cfb882671b6300421652d72fba575e1" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!--OWN-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.svg">
    <meta name="theme-color" content="rgb(253, 254, 255)">
    <link href="~/assets/css/chat.css" rel="stylesheet" />

    <link href="~/assets/css/myStyles.css" rel="stylesheet" />

    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/logo.svg">
    <link rel="icon" type="image/png" sizes="48x48" href="~/images/logo.svg">
    <link href="~/assets/css/theme.css" rel="stylesheet" />


    <!-- Meta Pixel Code -->
    <script>
        function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        } (window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '972143338251307');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=972143338251307&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96558122, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96558122" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <style>
        .ct-double-octave:after, .ct-major-eleventh:after, .ct-major-second:after, .ct-major-seventh:after, .ct-major-sixth:after, .ct-major-tenth:after, .ct-major-third:after, .ct-major-twelfth:after, .ct-minor-second:after, .ct-minor-seventh:after, .ct-minor-sixth:after, .ct-minor-third:after, .ct-octave:after, .ct-perfect-fifth:after, .ct-perfect-fourth:after, .ct-square:after {
            content: "";
            clear: both
        }

        .ct-label {
            fill: rgba(0,0,0,.4);
            color: rgba(0,0,0,.4);
            font-size: .75rem;
            line-height: 1
        }

        .ct-grid-background, .ct-line {
            fill: none
        }

        .ct-chart-bar .ct-label, .ct-chart-line .ct-label {
            display: block;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex
        }

        .ct-chart-donut .ct-label, .ct-chart-pie .ct-label {
            dominant-baseline: central
        }

        .ct-label.ct-horizontal.ct-start {
            -webkit-box-align: flex-end;
            -webkit-align-items: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start
        }

        .ct-label.ct-horizontal.ct-end {
            -webkit-box-align: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start
        }

        .ct-label.ct-vertical.ct-start {
            -webkit-box-align: flex-end;
            -webkit-align-items: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            text-align: right;
            text-anchor: end
        }

        .ct-label.ct-vertical.ct-end {
            -webkit-box-align: flex-end;
            -webkit-align-items: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start
        }

        .ct-chart-bar .ct-label.ct-horizontal.ct-start {
            -webkit-box-align: flex-end;
            -webkit-align-items: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            text-anchor: start
        }

        .ct-chart-bar .ct-label.ct-horizontal.ct-end {
            -webkit-box-align: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            text-anchor: start
        }

        .ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
            -webkit-box-align: flex-end;
            -webkit-align-items: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start
        }

        .ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
            -webkit-box-align: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start
        }

        .ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            text-align: right;
            text-anchor: end
        }

        .ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: end
        }

        .ct-grid {
            stroke: rgba(0,0,0,.2);
            stroke-width: 1px;
            stroke-dasharray: 2px
        }

        .ct-point {
            stroke-width: 10px;
            stroke-linecap: round
        }

        .ct-line {
            stroke-width: 4px
        }

        .ct-area {
            stroke: none;
            fill-opacity: .1
        }

        .ct-bar {
            fill: none;
            stroke-width: 10px
        }

        .ct-slice-donut {
            fill: none;
            stroke-width: 60px
        }

        .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
            stroke: #d70206
        }

        .ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
            fill: #d70206
        }

        .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
            stroke: #f05b4f
        }

        .ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
            fill: #f05b4f
        }

        .ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
            stroke: #f4c63d
        }

        .ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
            fill: #f4c63d
        }

        .ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
            stroke: #d17905
        }

        .ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie {
            fill: #d17905
        }

        .ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
            stroke: #453d3f
        }

        .ct-series-e .ct-area, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-slice-pie {
            fill: #453d3f
        }

        .ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
            stroke: #59922b
        }

        .ct-series-f .ct-area, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-slice-pie {
            fill: #59922b
        }

        .ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
            stroke: #0544d3
        }

        .ct-series-g .ct-area, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-slice-pie {
            fill: #0544d3
        }

        .ct-series-h .ct-bar, .ct-series-h .ct-line, .ct-series-h .ct-point, .ct-series-h .ct-slice-donut {
            stroke: #6b0392
        }

        .ct-series-h .ct-area, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-slice-pie {
            fill: #6b0392
        }

        .ct-series-i .ct-bar, .ct-series-i .ct-line, .ct-series-i .ct-point, .ct-series-i .ct-slice-donut {
            stroke: #f05b4f
        }

        .ct-series-i .ct-area, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-slice-pie {
            fill: #f05b4f
        }

        .ct-series-j .ct-bar, .ct-series-j .ct-line, .ct-series-j .ct-point, .ct-series-j .ct-slice-donut {
            stroke: #dda458
        }

        .ct-series-j .ct-area, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-slice-pie {
            fill: #dda458
        }

        .ct-series-k .ct-bar, .ct-series-k .ct-line, .ct-series-k .ct-point, .ct-series-k .ct-slice-donut {
            stroke: #eacf7d
        }

        .ct-series-k .ct-area, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-slice-pie {
            fill: #eacf7d
        }

        .ct-series-l .ct-bar, .ct-series-l .ct-line, .ct-series-l .ct-point, .ct-series-l .ct-slice-donut {
            stroke: #86797d
        }

        .ct-series-l .ct-area, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-slice-pie {
            fill: #86797d
        }

        .ct-series-m .ct-bar, .ct-series-m .ct-line, .ct-series-m .ct-point, .ct-series-m .ct-slice-donut {
            stroke: #b2c326
        }

        .ct-series-m .ct-area, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-slice-pie {
            fill: #b2c326
        }

        .ct-series-n .ct-bar, .ct-series-n .ct-line, .ct-series-n .ct-point, .ct-series-n .ct-slice-donut {
            stroke: #6188e2
        }

        .ct-series-n .ct-area, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-slice-pie {
            fill: #6188e2
        }

        .ct-series-o .ct-bar, .ct-series-o .ct-line, .ct-series-o .ct-point, .ct-series-o .ct-slice-donut {
            stroke: #a748ca
        }

        .ct-series-o .ct-area, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-slice-pie {
            fill: #a748ca
        }

        .ct-square {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-square:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 100%
            }

            .ct-square:after {
                display: table
            }

            .ct-square > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-second {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-second:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 93.75%
            }

            .ct-minor-second:after {
                display: table
            }

            .ct-minor-second > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-second {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-second:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 88.8888888889%
            }

            .ct-major-second:after {
                display: table
            }

            .ct-major-second > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-third {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-third:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 83.3333333333%
            }

            .ct-minor-third:after {
                display: table
            }

            .ct-minor-third > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-third {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-third:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 80%
            }

            .ct-major-third:after {
                display: table
            }

            .ct-major-third > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-perfect-fourth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-perfect-fourth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 75%
            }

            .ct-perfect-fourth:after {
                display: table
            }

            .ct-perfect-fourth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-perfect-fifth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-perfect-fifth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 66.6666666667%
            }

            .ct-perfect-fifth:after {
                display: table
            }

            .ct-perfect-fifth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-sixth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-sixth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 62.5%
            }

            .ct-minor-sixth:after {
                display: table
            }

            .ct-minor-sixth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-golden-section {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-golden-section:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 61.804697157%
            }

            .ct-golden-section:after {
                content: "";
                display: table;
                clear: both
            }

            .ct-golden-section > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-sixth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-sixth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 60%
            }

            .ct-major-sixth:after {
                display: table
            }

            .ct-major-sixth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-seventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-seventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 56.25%
            }

            .ct-minor-seventh:after {
                display: table
            }

            .ct-minor-seventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-seventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-seventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 53.3333333333%
            }

            .ct-major-seventh:after {
                display: table
            }

            .ct-major-seventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-octave {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-octave:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 50%
            }

            .ct-octave:after {
                display: table
            }

            .ct-octave > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-tenth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-tenth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 40%
            }

            .ct-major-tenth:after {
                display: table
            }

            .ct-major-tenth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-eleventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-eleventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 37.5%
            }

            .ct-major-eleventh:after {
                display: table
            }

            .ct-major-eleventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-twelfth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-twelfth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 33.3333333333%
            }

            .ct-major-twelfth:after {
                display: table
            }

            .ct-major-twelfth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-double-octave {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-double-octave:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 25%
            }

            .ct-double-octave:after {
                display: table
            }

            .ct-double-octave > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-second > svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0
        }

        .ct-minor-third {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-third:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 83.3333333333%
            }

            .ct-minor-third:after {
                display: table
            }

            .ct-minor-third > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-third {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-third:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 80%
            }

            .ct-major-third:after {
                display: table
            }

            .ct-major-third > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-perfect-fourth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-perfect-fourth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 75%
            }

            .ct-perfect-fourth:after {
                display: table
            }

            .ct-perfect-fourth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-perfect-fifth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-perfect-fifth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 66.6666666667%
            }

            .ct-perfect-fifth:after {
                display: table
            }

            .ct-perfect-fifth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-sixth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-sixth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 62.5%
            }

            .ct-minor-sixth:after {
                display: table
            }

            .ct-minor-sixth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-golden-section {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-golden-section:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 61.804697157%
            }

            .ct-golden-section:after {
                content: "";
                display: table;
                clear: both
            }

            .ct-golden-section > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-sixth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-sixth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 60%
            }

            .ct-major-sixth:after {
                display: table
            }

            .ct-major-sixth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-minor-seventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-minor-seventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 56.25%
            }

            .ct-minor-seventh:after {
                display: table
            }

            .ct-minor-seventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-seventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-seventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 53.3333333333%
            }

            .ct-major-seventh:after {
                display: table
            }

            .ct-major-seventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-octave {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-octave:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 50%
            }

            .ct-octave:after {
                display: table
            }

            .ct-octave > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-tenth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-tenth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 40%
            }

            .ct-major-tenth:after {
                display: table
            }

            .ct-major-tenth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-eleventh {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-eleventh:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 37.5%
            }

            .ct-major-eleventh:after {
                display: table
            }

            .ct-major-eleventh > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-major-twelfth {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-major-twelfth:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 33.3333333333%
            }

            .ct-major-twelfth:after {
                display: table
            }

            .ct-major-twelfth > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        .ct-double-octave {
            display: block;
            position: relative;
            width: 100%
        }

            .ct-double-octave:before {
                display: block;
                float: left;
                content: "";
                width: 0;
                height: 0;
                padding-bottom: 25%
            }

            .ct-double-octave:after {
                display: table
            }

            .ct-double-octave > svg {
                display: block;
                position: absolute;
                top: 0;
                left: 0
            }

        div {
            zoom: 98%;
            -moz-transform: scale(0.98);
        }

        span, a {
            zoom: 86%;
        }

        p {
            font-size: 19.2px;
        }

        li {
            font-size: 18px;
        }

        table, #google_translate_element {
            zoom: 120%
        }



        select {
            min-width: 100%;
        }


        select {
            min-width: 100%;
        }

    </style>

</head>